##### AWS credentials 
AWS_ACCESS_KEY_ID=<access-key>
AWS_SECRET_ACCESS_KEY=<secret_key>
AWS_REGION=ap-south-1

# Amazon Bedrock
BEDROCK_MODEL_ID=apac.amazon.nova-pro-v1:0
TRANSCRIBE_LANGUAGE_CODE=en-IN
TTS_VOICE_ID=Kajal
JWT_SECRET=replace-with-secure-jwt-secret